@each $n in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($n) {
		$n: infix($n);
		@each $name, $hex in $colours {
			.text#{$n}-#{$name} {
				color: $hex !important;
			}
		
			.bg#{$n}-#{$name} {
				background-color: $hex !important;
			}
		}
		.bg#{$n}-white {
			background-color: white !important;
		}
		
		.bg#{$n}-transparent {
			background-color: transparent !important;
		}
	}
}