$body__min_width: 370px;
$body__font_size: 16px;
$body__line_height: 1.5;
$body__color: #444;
$body__background_color: #f7f7f7;
$body__font_family: Roboto_UWAD, sans-serif;

$headings_font_family: Oswald_UWAD, $body__font_family;
$headings_max_font_size: 2em;

$color__main: #2b3a42;
$color__accent: #ff8f00;
$color__second: #bdd3de;

$colours: (
  main: $color__main,
  accent: $color__accent,
  second: $color__second,
);

$link__color: $color__accent;
$link__hover_color: darken($link__color, 5%);
$link__active_color: darken($link__color, 10%);
$link__visited_color: $link__color;

$button__rounded: 3px;
$button__font_weight: 400;
$button__border: 1px solid rgba(#000, .1);
$button__border_side: border;
$button__box_shadow: 2px 2px 6px rgba(#000, .1);
$button__outline_border_width: 2px;
$button__text_transform: normal;
$button__sizes: (
  '': (padding: 5px 25px, font-size: 16px),   // Default
  sm: (padding: 3px 15px, font-size: 14px),   // Small
  lg: (padding: 8px 35px, font-size: 18px)    // Large
) !default;

$columns: 12;
$rows: 3;
$gutter: 20px;

$spacing-start: 10px;
$spacings: 3;

$border-radius: 3px;
$border-width: 1px;
$border-color: #ccc;

$box-shadow-sm: 0 .125rem .25rem rgba(#000, .075) !default;
$box-shadow: 0 .5rem 1rem rgba(#000, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba(#000, .175) !default;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
);

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$aligns: (
  c: auto,                // center
  lt: 0 auto auto 0,      // left-top
  ct: 0 auto auto,        // center-top
  rt: 0 0 auto auto,      // right-top
  lc: auto auto auto 0,   // left-center
  rc: auto 0 auto auto,   // right-center
  lb: auto auto 0 0,      // left-bottom
  cb: auto auto 0 auto,   // center-bottom
  rb: auto 0 0 auto       // right-bottom
) !default;

$displays: (
  block,
  inline,
  inline-block,
  flex,
  inline-flex,
  grid,
  inline-grid,
  table,
  table-row,
  table-cell,
  none
) !default;